@page "/config"

@using BlazorTeamsApp.Components;
@using BlazorTeamsApp.Utils

@inject NavigationManager NavMan

@{
    //set culture based on the culture Query String Parameter.
    //Needs do be set as .NET Blazor overrides culture in second rendering
    LocalizationUtil.SetCulture(NavMan);
}
<div>
    <Config/>
</div>


